@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <link href="~/css/enrolltoexam_style.css" rel="stylesheet" type="text/css" />

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
