@using ExamMongoDB.Identity
@using ExamMongoDB.Views.Manage
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Student> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    @*<ul class="nav nav-pills nav-stacked">*@
    <ul id="profilenav" class="nav nav-pills flex-column">
        <li class="@ManageNavPages.IndexNavClass(ViewContext)"><span><a asp-action="Index" class="btn btn-outline-info">Edit your Profile</a></span></li>
        </ br>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><span><a asp-action="ChangePassword" class="btn btn-outline-info">Change Password</a></span></li>

        @if (hasExternalLogins)
        {
            <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins" class="btn btn-outline-info">External logins</a></li>
        }
        @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
    </ul>

