@model ExamMongoDB.Models.Exam


@{
    ViewData["Title"] = "Exam enrollment confirmation";
}

@*/Exam/Enroll/6021*@

<h2>@ViewData["Title"]</h2>


<div>
    <p>
        Are you sure you want to enroll to the following exams?

    </p>

    <h3> ------insert code for the subject name and code for exams enrolled to---------------</h3>
    <button class="btn  btn-primary btn-outline-info " type="submit">No</button>
    <button class="btn btn-primary  btn-outline-info " type="submit">Yes</button>
</div>
