@model ExamMongoDB.Models.Exam


@{
    ViewData["Title"] = "Exam enrollment succesful";
}

@*/Exam/Enroll/6021*@

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        You are now successfully enrolled to the following exams:
        ------insert code for the subject name and code for exams enrolled to---------------
    </p>
</div>
